#  pandas query 함수

In [32]:
import pandas as pd
import numpy as np

from IPython.display import display_html
def display_side_by_side(*args):
    """여러 데이터프레임 비교가 쉽게 옆쪽으로 표시한다"""
    html_str=''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)

In [41]:
data = [
    ['Ali',
     'Azmat',
     '30'],
    ['Sharukh',
     'Khan',
     '40'],
    ['Linus',
     'Torvalds',
     '70']
]

df = pd.DataFrame(data,columns=['First','Last','Age']) 
df.loc[:,'city'] = ['Lahore','Dehli','New York']
df['sex'] = ['female' , 'male' ,'female']
df.head()
# print(df)

     First      Last Age      city     sex
0      Ali     Azmat  30    Lahore  female
1  Sharukh      Khan  40     Dehli    male
2    Linus  Torvalds  70  New York  female

In [20]:
#df['age'] = ['female','male','female','male']
df.loc[:,'age'] = ['female','male','female','male']



출처: https://3months.tistory.com/292 [Deep Play]

AttributeError: 'list' object has no attribute 'loc'

In [14]:
df.head()

   age  weight
0   10      20
1   10      30
2   21      60
3   22      70